services:
  postgres:
    image: postgres:17-alpine
    container_name: psgr
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
  frontend:
    build:
      context: ./frontend/
    depends_on:
      - postgres
  backend:
    env_file:
      - ./backend/.env
    build:
      context: ./backend/
    depends_on:
      - postgres
  redis:
    image: redis:7-alpine
    env_file:
      - ./backend/.env
  nginx:
    image: nginx:latest
    container_name: nginx-server
    restart: always
    ports:
      - "80:80"
    volumes:
      - static:/app/static
      - ./nginx:/etc/nginx/conf.d
      - ./logs:/app/www/currency/logs
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  static: