services:
  postgres:
    image: postgres:17-alpine
    container_name: psgr
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
  backend:
    env_file:
      - ./backend/.env
    build:
      context: ./backend/
    depends_on:
      - postgres
    restart: always
  redis:
    image: redis:7-alpine
    env_file:
      - ./backend/.env
  nginx:
    build:
      context: ./nginx/
    container_name: nginx-server
    volumes:
      - ./logs:/var/log/nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: