services:
  postgres:
    image: postgres:17-alpine
    container_name: psgr
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
  frontend:
    build:
      context: ./frontend/

    ports:
      - "80:80"
    depends_on:
      - postgres


  backend:
    env_file:
      - ./backend/.env
    build:
      context: ./backend/
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  redis:
    image: redis:7-alpine
    env_file:
      - ./backend/.env
    ports:
      - "6379:6379"
  nginx:
    image: nginx:latest
    container_name: nginx-server
    restart: always
    ports:
      - "80:8000"
    volumes:
      - static:/app/static
      - ./nginx:/etc/nginx/conf.d
      - ./logs:/app/www/weather/logs
    depends_on:
      - backend

volumes:
  postgres_data: